.BGColor{
    background-color: #0F0F0F;
    text-align: center;
    height: 360px;
    padding-top: 60px;
}
.mid{
    background-color: #0F0F0F;
}
.centerTitle{
    color: #ffffff;
    font-family: "Playfair Display", Serif;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0;
    text-align: center;
    background-color: transparent;
}
.hr5{
    width: 120px;
    margin: 40px auto;
    border: 1px solid rgba(250, 250, 250, 1);
}
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.logos, .logo{
    background-color: #0F0F0F;
}